<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.point.www.board.repository.BoardRepository">

    <select id="list" resultType="BoardDTO" parameterType="BoardDTO">
        SELECT
            *
        FROM board
        LIMIT
            #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <select id="listCount" resultType="int" parameterType="BoardDTO">
        SELECT
            COUNT(*)
        FROM board
    </select>

    <select id="detail" resultType="java.util.HashMap">
        SELECT * FROM board
        WHERE id = #{id}
    </select>

    <insert id="add">
        INSERT INTO board
            (name, title)
        VALUES
            (#{name} , #{title})
    </insert>

    <update id="edit">
        UPDATE board
        SET name = #{name}
            ,title = #{title}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM board
        WHERE id = #{id}
    </delete>

    <select id="fix_list" resultType="BoardDTO" parameterType="BoardDTO">
        SELECT
            *
        FROM fix_board
    </select>

    <insert id="fix_add" parameterType="BoardDTO">
        INSERT INTO fix_board
            (name, title)
        VALUES
            (#{name} , #{title})
    </insert>

    <update id="fix_update" parameterType="BoardDTO">
        UPDATE fix_board
        SET name = #{name}
            ,title = #{title}
        WHERE id = #{id}
    </update>

    <delete id="fix_delete"  parameterType="BoardDTO">
        DELETE FROM fix_board
        WHERE id = #{id}
    </delete>

</mapper>