<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.point.www.board.repository.BoardRepository">

    <select id="list" resultType="BoardDTO" parameterType="Criteria">
        SELECT
            *
        FROM board
        LIMIT
        #{startPage}, #{recordsPerPage}
    </select>

    <select id="listCount" resultType="int" parameterType="Criteria">
        SELECT
            COUNT(*)
        FROM board
    </select>

    <select id="detail" resultType="java.util.HashMap">
        SELECT * FROM board
        WHERE id = #{id}
    </select>

    <insert id="add">
        INSERT INTO board
            (name, title)
        VALUES
            (#{name} , #{title})
    </insert>

    <update id="edit">
        UPDATE board
        SET name = #{name} , title = #{title}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM board
        WHERE id = #{id}
    </delete>

</mapper>