<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>상세페이지</h1>
  <div class="container">
    <div>
      <div>
          <label for="boardName" th:text="NAME">NAME</label>
          <input type="text" id="boardName" name="boardName" class="form-control" th:value="${board.name}" readonly>
      </div>
    </div>
    <div>
      <div>
          <label for="boardTitle" th:text="TITLE">TITLE</label>
          <input type="text" id="boardTitle" name="boardTitle" class="form-control" th:value="${board.title}" readonly>
      </div>
    </div>
  </div>

    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/board/}'|"
                type="button">목록</button>
    </div>

    <div class="col">
        <button class="w-100 btn btn-primary btn-lg"
                onclick="location.href='editForm.html'"
                th:onclick="|location.href='@{/board/{id}/edit(id=${board.id})}'|"
                type="button" >수정</button>
    </div>

    <div class="col">
        <button class="w-100 btn btn-primary btn-lg"
                onclick="location.href='editForm.html'"
                th:onclick="|location.href='@{/board/{id}/delete(id=${board.id})}'|"
                type="button" >삭제</button>
    </div>
</body>
</html>