<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>FIX게시판 리스트</h1>

<div class="container">
  <h5>게시글 등록</h5>
  <form>
    <div>
      <div>
        <label for="name" >작성자</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요.">
      </div>
    </div>
    <div>
      <div>
        <label for="title" >제목</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요." >
      </div>
    </div>

    <div class="col">
    <!--  button type="submit"은 form 안에 데이터 담아서 페이지 이동시킬때 사용    -->
      <button type="button" class="button" id="save">저장</button>
      <button type="button" class="button" id="update">수정</button>
      <button type="button" class="button" id="delete">삭제</button>
    </div>
  </form>
</div>

<div>
  <table class="table" id="table">
    <thead>
    <tr>
      <th >ID</th>
      <th >제목</th>
      <th >작성자</th>
    </tr>
    </thead>
    <tbody id="list">

    </tbody>
  </table>

  <!-- pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" id="paging">
    </ul>
  </nav>

</div>
<script>

  list()

  let totalRecordCount = 0;
  let totalPageCount = 0;
  let firstPage = 0;
  let lastPage = 0;
  let firstRecordIndex = 0;
  let lastRecordIndex = 0;
  let hasPreviousPage = 0;
  let hasNextPage = 0;

  //리스트 가져오기 select
  function list(){

    const params = {

    }

    axios.get('/api/fix_board', {
      params: params
    }).then((response) => {
      const data = response.data // 서버에서 받아온 데이터
      console.log(data)
      for(i in data) {
        let table = document.getElementById("list");
        table.insertAdjacentHTML ("afterbegin" ,
                `<tr onclick="clickId(this)">
                    <td id="id">${data[i].id}</td>
                    <td id="title">${data[i].title}</td>
                    <td id="name">${data[i].name}</td>
                    </tr>` );
      }
    }).catch((error) => {
      console.log(error)
    }).finally(() => { })
  }

  // insert : 저장버튼 눌렀을때 이벤트
  const button = document.getElementById("save");
  button.addEventListener("click", clickInsert);

  function clickInsert(){
      let title = document.getElementById("title").value;
      let name = document.getElementById("name").value;
      let table = document.getElementById("list");

      const params = {
        'title': title,
        'name': name
      }

      // 입력받은 데이터 insert하기
      axios.post('/api/fix_board/add', null,{
        params: params
      }).then((response) => {
        const data = response.data // 서버에서 받아온 데이터
        console.log(data)

        // table.remove(); // 다 지워짐

        //기존에 있던 list 지우고 insert된 리스트 다시 가져오기
        table.innerHTML = "";
        list();

      }).catch((error) => { console.log(error) })
  }

  //아이디 번호 누르면 name,title에 수정되기 전 값넣어놓기
  function clickId(row) {

    let table = document.getElementById("table");
    let rows = table.getElementsByTagName("tr");

    for (i = 1; i < rows.length; i++) {
      row = table.rows[i];
      row.onclick = function(){
        let idCell = this.getElementsByTagName("td")[0];
        let nameCell = this.getElementsByTagName("td")[1];
        let titleCell = this.getElementsByTagName("td")[2];

        let id = idCell.textContent;
        let name = nameCell.textContent;
        let title = titleCell.textContent;

        console.log(id ,name, title)

        let idtr = document.getElementById('id');
        idtr.value = id;
        let nameinput = document.getElementById('name');
        nameinput.value = name;
        let titleInput = document.getElementById('title');
        titleInput.value = title;

        // document.getElementById('name').innerText = name;
        // document.getElementById('title').innerText = title;

        // document.getElementById('name').textContent = name;

      };
    }
  }

  // update : 수정버튼 눌렀을때 이벤트
  const upd_button = document.getElementById("update");
  upd_button.addEventListener("click", clickUpdate);

  function clickUpdate(){
    let table = document.getElementById("list");
    let id = document.getElementById("id").value;
    let title = document.getElementById("title").value;
    let name = document.getElementById("name").value;

    const params = {
      'title': title,
      'name': name,
      'id': id}

    console.log(params)
    axios.post('/api/fix_board/update',null, {
      params: params
    }).then((response) => {
      const data = response.data
      //리스트 다시 불러오기
      table.innerHTML = "";
      list()

      //input에 선택했던 데이터 지워주기
      let nameinput = document.getElementById('name');
      nameinput.value = '';
      let titleInput = document.getElementById('title');
      titleInput.value = '';
    }).catch((error) => {
      console.log(error)
    })
  }


  // delete : 삭제버튼 눌렀을때 이벤트
  const del_button = document.getElementById("delete");
  del_button.addEventListener("click", clickDelete);

  function clickDelete() {
    let table = document.getElementById("list");
    let id = document.getElementById("id").value;

    const params = {
      'id': id}

    console.log(params)

    axios.post('/api/fix_board/delete',null, {
      params: params
    }).then((response) => {
      const data = response.data
      console.log(data)
      if(data == true){
        // 삭제 완료 후 리스트 다시 불러오기
        table.innerHTML = "";
        list()

        //input에 선택했던 데이터 지워주기
        let nameinput = document.getElementById('name');
        nameinput.value = '';
        let titleInput = document.getElementById('title');
        titleInput.value = '';
      }
    }).catch((error) => {
      console.log(error)
    })

  }

  //페이징 처리
  function pagination(dto){


  }


</script>
</body>
</html>

